name: pr
on:
  pull_request:
    types: [ opened, synchronize, edited ]
    paths-ignore:
      - .editorconfig
      - .gitattributes
      - .github/renovate.json
      - .github/workflows/publish.yml
      - .gitignore
      - LICENSE
      - Makefile
      - README.md
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
env:
  GITHUB_USER: ${{ secrets.GITHUB_ACTOR }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  verify:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/danger/danger-kotlin:1.3.3
      credentials:
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5
      - name: set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 11
      - uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: build
        run: |
          ./gradlew clean
          mkdir -p build/reports
          ./gradlew build --stacktrace 2>build/reports/build-error-log.txt
      - name: lint and test
        if: success()
        run: ./gradlew --continue ktlintCheck test --stacktrace
      - name: Upload lint and test reports
        uses: actions/upload-artifact@v4
        if: cancelled() != true
        with:
          name: reports
          path: |
            **/build/reports
            **/build/test-results
          retention-days: 7
      - name: Run Danger-Kotlin
        if: cancelled() != true
        run: |
          ./gradlew installPluginFromLocal --stacktrace
          danger-kotlin ci --failOnErrors --no-publish-check
